{% extends 'inner_base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
        <img class="me-3" src="/docs/5.0/assets/brand/bootstrap-logo-white.svg" alt="" width="48" height="38">
        <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">Hi {{ request.user.username }}</h1>
            {#            <small>Since 2011</small>#}
        </div>
    </div>

    <h6>Connection updates</h6>

    {% if conn_updates %}
        {% for notification in conn_updates %}
            {% with notification.activity_type.subtype as subtype %}
                {% if subtype == 'request' %}
                    {% include 'notifications/snippets/connection_request.html' %}
                {% elif subtype == 'accept' %}
                    {% include 'notifications/snippets/connection_accept.html' %}
                {% elif subtype == 'decline' %}
                    {% include 'notifications/snippets/connection_declined.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    {% else %}
        <p>You do not have any connection update</p>
    {% endif %}

    <h6>Other updates</h6>
    {% if updates %}
    {% else %}
        <p>You do not have any updates</p>
    {% endif %}

{% endblock %}